version: '3.9'

services:

  db:
    container_name: db
    hostname: db
    image: postgres:latest
    ports:
      - "5432:5432"
    expose:
      - 5432
    healthcheck:
      test: ["CMD", "pg_isready -U ${DB_USER:-pguser} -d ${DB_NAME:-starkbank}"]
      interval: 1m30s
      timeout: 30s
      retries: 5
      start_period: 30s
    env_file:
      - .env
    environment:
      POSTGRES_USER: ${DB_USER:-pguser}
      POSTGRES_PASSWORD: ${DB_PASSWORD:-pgpwd}
      POSTGRES_DB: ${DB_NAME:-starkbank}
    restart: always
    networks:
      - default
  
  api:
    container_name: api
    hostname: api
    build:
      context: .
      args:
        NAME: api
    ports:
      - "8000:8000"
    expose:
      - 8000
    env_file:
      - .env
    networks:
      - default
    depends_on:
      - db

  worker:
    container_name: worker
    hostname: worker
    command: worker
    build:
      context: .
      args:
        NAME: worker
    env_file:
      - .env
    networks:
      - default
    depends_on:
      - api
      - redis

  redis:
    container_name: redis
    hostname: redis
    image: redis:6-alpine
    env_file:
      - .env
    restart: always
    networks:
      - default

  dashboard:
    container_name: dashboard
    hostname: dashboard
    build:
      context: .
      args:
        NAME: dashboard
    ports:
      - 5555:5555
    env_file:
      - .env
    networks:
      - default
    depends_on:
      - api
      - redis
      - worker

networks:
  default:
    driver: bridge
